# Aula 12 - Simulado e Revisão

Nesta aula iremos **revisar SQL** e fixar os conteúdos aprendidos nas últimas aulas.

## Como resolver os exercícios?

Indicamos que resolva em sua máquina. Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, anexe no notebook a resposta / imagem de resposta (quando solicitado imagem).

## Import das bibliotecas

Vamos importar as bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [50]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print('Executando query:')
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv('MD_DB_SERVER'),
        user=os.getenv('MD_DB_USERNAME'),
        password=os.getenv('MD_DB_PASSWORD'),
        database='fazendas',
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

In [49]:
connection.commit()

## Exercícios de revisão - Megadados

Um dos setores de tecnologia em franca expansão é o agrotech. Avanços em telecomunicações, computação e sistemas de informação viabilizam a aplicação de tecnologia da informação para o aumento da produtividade no campo.


Você foi contratado por uma empresa de automação agrícola. Sua tarefa é implementar um sistema para ajudar na aplicação de inseticidas no campo. Em conversas com o cliente, você levantou as seguintes informações sobre o domínio de negócios:
- Uma fazenda tem vários lotes. É importante dividir a fazenda em lotes para implementar a rotação das plantações: em um ano planta-se milho em um lote, noutro ano planta-se soja, etc.
- Cada lote tem apenas um tipo de plantação por vez (ou seja, não tem lote hibrido milho-soja)
- Um inseticida pode servir para vários tipos de plantação, mas não para todos. De modo similar, uma plantação pode receber diferentes inseticidas, mas provavelmente não todos.
- Para cada combinação de tipos de plantação e inseticida existe uma frequência mensal de aplicação.
- Cada inseticida tem um certo custo por hectare para ser aplicado.
- Cada lote vai receber um inseticida específico, determinado pelo engenheiro agrícola.

**Exercício 1**: Liste as entidades deste problema e seus atributos, usando a notação de *schema* do modelo relacional.

<div class="alert alert-success">

Fazenda, Lotes, plantacao, inseticida, 

</div>

**Exercício 2**: Desenhe o diagrama do modelo relacional deste problema. Não esqueça de indicar claramente as chaves primárias, chaves estrangeiras, e a cardinalidade dos relacionamentos.

**Obs**: Salve a imagem do diagrama na pasta `img`. Edite na resposta o caminho para a imagem!

<div class="alert alert-success">
Edite na resposta o caminho para a imagem!
<img src="img/diagrama.png">

</div>

**Exercício 3**: Crie uma query que retorne o **Nome do consumidor** e **telefone** de todos os consumidores que possuem a substring `Ltd` em seu nome. Ainda, retorne em ordem decrescente por nome.

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [5]:
db(''' SELECT customerName, phone FROM customers WHERE customerName LIKE '%Ltd' or customerName LIKE '%Ltd.' ''')

Executando query:
('Mini Gifts Distributors Ltd.', '4155551450')
('Dragon Souveniers, Ltd.', '+65 221 7555')
('UK Collectables, Ltd.', '(171) 555-2282')
('Toms Spezialitäten, Ltd', '0221-5554327')
('Royal Canadian Collectables, Ltd.', '(604) 555-4555')
("Anna's Decorations, Ltd", '02 9936 8555')
('Vida Sport, Ltd', '0897-034555')
('Mini Creations Ltd.', '5085559555')
('Cramer Spezialitäten, Ltd', '0555-09555')
("Men 'R' US Retailers, Ltd.", '2155554369')
('Tokyo Collectables, Ltd', '+81 3 3584 0555')
('Extreme Desk Decorations, Ltd', '04 499 9555')
('Corrida Auto Replicas, Ltd', '(91) 555 22 82')
('Anton Designs, Ltd.', '+34 913 728555')
('Australian Collectables, Ltd', '61-9-3844-6555')
('Signal Collectibles Ltd.', '4155554312')
('Double Decker Gift Stores, Ltd', '(171) 555-7555')

**Exercício 4**: Escreva a DML para as seguintes tarefas:
    
**a.** Crie 3 lotes para a fazenda: um de 4 hectares, outro de 3 hectares, e outro de 5 hectares.

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [7]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [ ]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [ ]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [ ]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [17]:
db('INSERT INTO lotes (Tamanho, fazenda_idFazenda, inseticida_idInseticida, plantação_idPlantação) VALUES (5, 3,1,1);')

Executando query:

**b.** Corrija um erro no item anterior: mude o tamanho do lote de 3 hectares para 3,5 hectares.

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [21]:
db('UPDATE lotes SET Tamanho = 3.5 WHERE Tamanho = 3;')

Executando query:

**c.** Como obter o id do lote em uma **aplicação real**? É realista pedir ao usuário que decore o id de cada lote?

<div class="alert alert-success">

Dê dois cliques e edite! Sua resposta AQUI!

</div>

In [31]:
db('SELECT idLotes FROM lotes INNER JOIN fazenda WHERE fazenda.Nome = "Fazenda"')

Executando query:
(3,)
(4,)
(5,)

**Exercício 5**: Escreva queries para as seguintes tarefas:
    
**a.** Qual a maior fazenda?

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [54]:
db('SELECT * FROM lotes')

Executando query:
(3, Decimal('3.50'), 3, 1, 1)
(4, Decimal('4.00'), 3, 1, 1)
(5, Decimal('5.00'), 3, 1, 1)
(6, Decimal('4.00'), 5, 1, 1)

In [60]:
db('SELECT fazenda.Nome FROM fazenda INNER JOIN lotes ON lotes.fazenda_idFazenda = fazenda.idFazenda WHERE Tamanho = (SELECT MAX(Tamanho) FROM lotes)')

Executando query:
('Fazenda da Grama',)

**b.** Quais as plantações com área total maior que 10 hectares?

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**c.** Qual o custo total atual com inseticidas?

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**d.** Quais inseticidas não foram usados?

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**e.** Qual o menor custo possível com inseticidas?

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**f.** Escreva a query mais cruel que você consegue imaginar! 😊

<div class="alert alert-success">

Dê dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>