# Aula 12 - Simulado e Revis√£o

Nesta aula iremos **revisar SQL** e fixar os conte√∫dos aprendidos nas √∫ltimas aulas.

## Como resolver os exerc√≠cios?

Indicamos que resolva em sua m√°quina. Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta est√° correta, anexe no notebook a resposta / imagem de resposta (quando solicitado imagem).

## Import das bibliotecas

Vamos importar as bibliotecas.

In [1]:
import mysql.connector
from functools import partial
import os
from dotenv import load_dotenv

E vamos criar nosso HELPER de conex√£o com o banco! Perceba que, uma vez configurado o `.env` n√£o precisaremos mais informar usu√°rios, senhas e URLs!

In [50]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print('Executando query:')
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv('MD_DB_SERVER'),
        user=os.getenv('MD_DB_USERNAME'),
        password=os.getenv('MD_DB_PASSWORD'),
        database='fazendas',
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

In [49]:
connection.commit()

## Exerc√≠cios de revis√£o - Megadados

Um dos setores de tecnologia em franca expans√£o √© o agrotech. Avan√ßos em telecomunica√ß√µes, computa√ß√£o e sistemas de informa√ß√£o viabilizam a aplica√ß√£o de tecnologia da informa√ß√£o para o aumento da produtividade no campo.


Voc√™ foi contratado por uma empresa de automa√ß√£o agr√≠cola. Sua tarefa √© implementar um sistema para ajudar na aplica√ß√£o de inseticidas no campo. Em conversas com o cliente, voc√™ levantou as seguintes informa√ß√µes sobre o dom√≠nio de neg√≥cios:
- Uma fazenda tem v√°rios lotes. √â importante dividir a fazenda em lotes para implementar a rota√ß√£o das planta√ß√µes: em um ano planta-se milho em um lote, noutro ano planta-se soja, etc.
- Cada lote tem apenas um tipo de planta√ß√£o por vez (ou seja, n√£o tem lote hibrido milho-soja)
- Um inseticida pode servir para v√°rios tipos de planta√ß√£o, mas n√£o para todos. De modo similar, uma planta√ß√£o pode receber diferentes inseticidas, mas provavelmente n√£o todos.
- Para cada combina√ß√£o de tipos de planta√ß√£o e inseticida existe uma frequ√™ncia mensal de aplica√ß√£o.
- Cada inseticida tem um certo custo por hectare para ser aplicado.
- Cada lote vai receber um inseticida espec√≠fico, determinado pelo engenheiro agr√≠cola.

**Exerc√≠cio 1**: Liste as entidades deste problema e seus atributos, usando a nota√ß√£o de *schema* do modelo relacional.

<div class="alert alert-success">

Fazenda, Lotes, plantacao, inseticida, 

</div>

**Exerc√≠cio 2**: Desenhe o diagrama do modelo relacional deste problema. N√£o esque√ßa de indicar claramente as chaves prim√°rias, chaves estrangeiras, e a cardinalidade dos relacionamentos.

**Obs**: Salve a imagem do diagrama na pasta `img`. Edite na resposta o caminho para a imagem!

<div class="alert alert-success">
Edite na resposta o caminho para a imagem!
<img src="img/diagrama.png">

</div>

**Exerc√≠cio 3**: Crie uma query que retorne o **Nome do consumidor** e **telefone** de todos os consumidores que possuem a substring `Ltd` em seu nome. Ainda, retorne em ordem decrescente por nome.

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [5]:
db(''' SELECT customerName, phone FROM customers WHERE customerName LIKE '%Ltd' or customerName LIKE '%Ltd.' ''')

Executando query:
('Mini Gifts Distributors Ltd.', '4155551450')
('Dragon Souveniers, Ltd.', '+65 221 7555')
('UK Collectables, Ltd.', '(171) 555-2282')
('Toms Spezialit√§ten, Ltd', '0221-5554327')
('Royal Canadian Collectables, Ltd.', '(604) 555-4555')
("Anna's Decorations, Ltd", '02 9936 8555')
('Vida Sport, Ltd', '0897-034555')
('Mini Creations Ltd.', '5085559555')
('Cramer Spezialit√§ten, Ltd', '0555-09555')
("Men 'R' US Retailers, Ltd.", '2155554369')
('Tokyo Collectables, Ltd', '+81 3 3584 0555')
('Extreme Desk Decorations, Ltd', '04 499 9555')
('Corrida Auto Replicas, Ltd', '(91) 555 22 82')
('Anton Designs, Ltd.', '+34 913 728555')
('Australian Collectables, Ltd', '61-9-3844-6555')
('Signal Collectibles Ltd.', '4155554312')
('Double Decker Gift Stores, Ltd', '(171) 555-7555')

**Exerc√≠cio 4**: Escreva a DML para as seguintes tarefas:
    
**a.** Crie 3 lotes para a fazenda: um de 4 hectares, outro de 3 hectares, e outro de 5 hectares.

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [7]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [ ]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [ ]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [ ]:
db ('INSERT INTO fazenda (Nome, Dono) VALUES ("Fazenda", "Fernando Boiola");')

Executando query:

In [17]:
db('INSERT INTO lotes (Tamanho, fazenda_idFazenda, inseticida_idInseticida, planta√ß√£o_idPlanta√ß√£o) VALUES (5, 3,1,1);')

Executando query:

**b.** Corrija um erro no item anterior: mude o tamanho do lote de 3 hectares para 3,5 hectares.

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [21]:
db('UPDATE lotes SET Tamanho = 3.5 WHERE Tamanho = 3;')

Executando query:

**c.** Como obter o id do lote em uma **aplica√ß√£o real**? √â realista pedir ao usu√°rio que decore o id de cada lote?

<div class="alert alert-success">

D√™ dois cliques e edite! Sua resposta AQUI!

</div>

In [31]:
db('SELECT idLotes FROM lotes INNER JOIN fazenda WHERE fazenda.Nome = "Fazenda"')

Executando query:
(3,)
(4,)
(5,)

**Exerc√≠cio 5**: Escreva queries para as seguintes tarefas:
    
**a.** Qual a maior fazenda?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

In [54]:
db('SELECT * FROM lotes')

Executando query:
(3, Decimal('3.50'), 3, 1, 1)
(4, Decimal('4.00'), 3, 1, 1)
(5, Decimal('5.00'), 3, 1, 1)
(6, Decimal('4.00'), 5, 1, 1)

In [60]:
db('SELECT fazenda.Nome FROM fazenda INNER JOIN lotes ON lotes.fazenda_idFazenda = fazenda.idFazenda WHERE Tamanho = (SELECT MAX(Tamanho) FROM lotes)')

Executando query:
('Fazenda da Grama',)

**b.** Quais as planta√ß√µes com √°rea total maior que 10 hectares?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**c.** Qual o custo total atual com inseticidas?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**d.** Quais inseticidas n√£o foram usados?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**e.** Qual o menor custo poss√≠vel com inseticidas?

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>

**f.** Escreva a query mais cruel que voc√™ consegue imaginar! üòä

<div class="alert alert-success">

D√™ dois cliques e edite!
    
```mysql
    -- SUA RESPOSTA AQUI!
```

</div>